#about {
    /* Allows side by side*/
    display: flex;
    /* Aligns items in horizontally in the center*/
    justify-content: center;
    /* Aligns items in vertically in the center*/
    align-items: center;
    min-height: 100vh;
    /* background-color: #e7f5aa; */
}

.about-summary {
    /* allows photo and text to be side by side */
    display: flex;
    /* controls the height of the photo */
    align-items: flex-start; 
    gap: 3vh; 
    padding: 3vh;
    width: 80%;
}


p {
    flex: 1; 
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Image Styling */
.about-photo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.about-photo-wrapper {
    max-width: 30vh; 
    aspect-ratio: 5 / 7;
    height: auto; 
    overflow: hidden; 
    border-radius: 1.5vh;
}

