#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* About Summary */
.about-summary {
    display: flex;
    flex-direction: row; /* Default to side-by-side layout */
    align-items: flex-start;
    gap: 3vh;
    padding: 3vh;
    width: 80%;
}

/* Paragraph Styling */
.about-paragraph {
    flex: 1;
}

p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Image Styling */
.about-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-photo-wrapper {
    max-width: 30vh;
    aspect-ratio: 5 / 7;
    height: auto;
    overflow: hidden;
    border-radius: 1.5vh;
}

/* Make the content stack vertically on smaller screens */
@media (max-width: 768px) {
    .about-summary {
        flex-direction: column; /* Stack the photo and text vertically */
        align-items: center;
        text-align: center; /* Center-align text for better readability */
    }

    .about-photo-wrapper {
        max-width: 50vw; /* Increase photo size for better visibility */
    }

    .about-paragraph {
        width: 100%; /* Ensure paragraphs take full width */
    }
}
