#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vh;
    padding: 3vh;
    width: 65%;
}

/* Paragraph Styling */
.about-paragraph {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p {
    font-size: 1.1rem;
    color: #414141;
    line-height: 1.6;
    margin-bottom: 2vh;
}

/* Profile Photo Styling */
.about-photo-wrapper {
    max-width: 30vh;
    aspect-ratio: 5 / 7;
    height: auto;
    overflow: hidden;
    border-radius: 1.5vh;
}

.about-profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Logos Styling */
.about-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    margin-top: 4vh;
    width: 80%;
}

.about-logo-photo {
    max-width: 8vh;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 1vh;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column; 
        align-items: center;
    }

    .about-photo-wrapper {
        order: -1; 
        max-width: 40vw; 
    }

    .about-paragraph {
        width: 90%;
    }
}
