#nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: rgb(255 255 255 / 50%);
    font-size: 24px;
    font-family: Oswald, sans-serif;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.nav-bar a {
    margin-right: 25px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-left {
    margin-left: 20px;
}

.nav-right {
    margin-right: 20px;
}